// COLORs
$denim-600: #1268B7;
$denim-500: #1777CF;
$denim-400: #4592D9;
$denim-300: #74ADE2;
$denim-200: #A2C8EC;
$denim-100: #D1E4F5;
$denim-50: #F5FAFF;

$salmon-600: #D4153B;
$salmon-500: #F74266;
$salmon-400: #F86885;
$salmon-300: #FA8EA3;
$salmon-200: #FCB3C2;
$salmon-100: #FDD9E0;
$salmon-50: #FEECF0;

$spinat-600: #028066;
$spinat-500: #16A98B;
$spinat-400: #45BAA3;
$spinat-300: #73CBBA;
$spinat-200: #A2DDD1;
$spinat-100: #D0EEE8;
$spinat-50: #E8F6F3;

$butter-600: #B87900;
$butter-500: #F5AB1C;
$butter-400: #F7BC49;
$butter-300: #F9CD77;
$butter-200: #FBDDA4;
$butter-100: #FDEED2;
$butter-50: #FEF7E8;

$steel-600: #2D2A39;
$steel-500: #383641;
$steel-400: #605E67;
$steel-300: #88868D;
$steel-200: #AFAFB3;
$steel-100: #E6E6E8;
$steel-50: #F5F5F9;
